<section class="header">
    <div class="header-w">
        <div class="company-logo">
            <img src="../../assets/icons/logo.svg" alt="Logo of the IMDb company">
        </div>
        <div class="right-w">
            <div class="search-bar">
                <!-- TodoCss: Change the color of the SVG -->
                <img src="../../assets/icons/icon_magnify.svg" class="img-search" alt="Search button">
            </div>
            <div class="lang-w">
                <!-- TodoTs: Add ng-class -->
                <img src="../../assets/icons/flag_fr.svg" class="not-active" alt="French flag for the french translation">
                <img src="../../assets/icons/flag_usa.svg" alt="American flag for the american translation">
            </div>
        </div>
    </div>
</section>
