<section class="all-movie-w">
    <div class="all-movie">
        <div class="one-movie-w">
            <app-one-movie class="test"></app-one-movie>
        </div>
        <div class="one-movie-w">
            <app-one-movie></app-one-movie>
        </div>
        <div class="one-movie-w">
            <app-one-movie></app-one-movie>
        </div>
        <div class="one-movie-w">
            <app-one-movie></app-one-movie>
        </div>
        <div class="one-movie-w">
            <app-one-movie></app-one-movie>
        </div>
    </div>
</section>
