<section class="all-movie-w">
    <div class="all-movie" *ngIf="imdbSlice">
        <div *ngFor="let film of imdbSlice" class="one-movie-w">
            <app-one-movie class="test" [film]="film" *ngIf="searchTextField === '' || film.originalTitle.includes(searchTextField)" (modifFilm)="updateJson($event)"></app-one-movie>
        </div>
        <mat-paginator [length]="this.imdb.length"
              [pageSize]="12"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page"
              (page)="onPageChange($event)"
              >

        </mat-paginator>
    </div>
</section>
