<section class="edit-dialog-w">
    <h1 mat-dialog-title>Editing</h1>
    <div mat-dialog-content *ngIf="data">
        <form [formGroup]="filmEdit">
            <!-- <mat-form-field> -->
            <div>
                <label>Is Adult</label>
                <mat-radio-group aria-label="Is Adult" formControlName="isAdult">
                    <mat-radio-button value="1">Yes</mat-radio-button>
                    <mat-radio-button value="0">No</mat-radio-button>
                </mat-radio-group>
            </div>
            <!-- </mat-form-field> -->
            <mat-form-field>
                <mat-label>Minutes</mat-label>
                <input matInput formControlName="minutes">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Start year</mat-label>
                <input type="text" matInput formControlName="startYear">
            </mat-form-field>
            <mat-form-field>
                <mat-label>End year</mat-label>
                <input type="text" matInput formControlName="endYear">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Genres</mat-label>
                <input type="text" matInput formControlName="genres">
            </mat-form-field>
        </form>

    </div>
    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="filmEdit.value" cdkFocusInitial>Ok</button>
        <button mat-button (click)="onNoClick()">No Thanks</button>
    </div>
</section>